*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./images/forest.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    
}
.logo{
    width: 150px;
    margin-top: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    margin-top: 20px;
    padding: 5px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease;
}
.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    color: #fff;
    font-size: 60px;
}
.content p{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffffff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span{
    /* position: absolute;
    width: 0;
    height: 100%;
    background: rgb(201, 223, 8);
    left: 0;
    bottom: 0;
    z-index: -1;
     */


    position: absolute;
    background: #6e9600;
    height: 100%;
    width: 0;
    border-radius: 25px;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}
button:hover{
    border: none;
}